h1 {
    color: black;
    width: 100%;
    text-align: center;
    font-family: Helvetica;
}

p {
    width: 100%;
    color: black;
    font-family: helvetica;
    text-align: center;
}


#mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}


.pokemon-option {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.pokemon-option:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

/* team cards */
.pokemon-card {
    border: 1px solid #ccc;
    color: black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    background: rgb(195, 191, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 15px;
    padding: 20px;
    
}

/* favorite */
.favorite {
    background: gold;
}

#pokemonForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 15px;
    padding: 20px;

}