h1 {
    color: blue;
    width: 100%;
    text-align: center;
}

p {
    width: 100%;
    color: red;
    font-family: helvetica;
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
}

.mainImage {
    padding: 10px;
    width: 100px;
    border-radius: 50%;

}